/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;800&family=Noto+Sans:wght@400;600;800&family=Noto+Sans+JP:wght@400;600;800&family=Vazirmatn:wght@400;600;800&display=swap');
/* Imports */
@import "tailwindcss";
/* Plugins */
@plugin "daisyui";

/* Themes */
@import "./themes/light.theme.css";
@import "./themes/dark.theme.css";

/* Base */
:root {
    font-family: 'Outfit', 'Noto Sans JP', 'Noto Sans', 'Vazirmatn', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body,
:root {
    margin: 0;
    padding: 0;
    background: var(--color-base-100) !important;
    transition:
        background-color .2s ease,
        color .2s ease,
        border-color .2s ease;
}